.grid-container-1 {
	justify-content: center;
	width: 1012px;
	height: 281px;
	display: grid;
	grid-template-areas: 
	'header-1 header-1'
	'left-1 right-1';
	background-color: #dddddd;
}

.grid-container-2 {
	justify-content: center;
	width: 1012px;
	height: 438px;
	display: grid;
	grid-template-areas: 
	'header-2 header-2 header-2'
	'subheader subheader subheader'
	'left-2 centre right-2';
}

.header-1, .left-1, .right-1 {
	background-color: #333333;
}

.header-2, .subheader, .left-2, .right-2, .centre {
	background-color: #999999;
}

.header-1 {
	grid-area: header-1;
	width: 702px;
	height: 20%;
}

.header-2 {
	grid-area: header-2;
	width: 702px;
	height: 20%;
}

.subheader {
	grid-area: subheader;
	width: 702px;
	height: 50%
}

.left-1, .right-1 {
	width: 343px;
	height: 75%;
}

.left-1 {
	grid-area: left-1;
}

.right-1 {
	grid-area: right-1;
}

.left-2, .right-2, .centre {
	width: 224px;
}

.left-2 {
	grid-area: left-2;
}

.right-2 {
	grid-area: right-2;
}

.centre {
	grid-area: centre;
}